################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CBCEasterSeals/obj/x86
/CBCEasterSeals/bin
/CBCEasterSeals/bin
/CBCEasterSeals/bin/Debug/logs/Rx_2017-07-16-04.35.29.txt
